# Dependency Tree
Line 08: npm.npmignore
Line 31:             | --> git.gitignore


# Input Files

# Input: 'npm.npmignore'
# Vscode
.vscode/

# GitHub
.github/

# Testing
tests/
__snapshots__

# Common-Ignore
common-ignore/

# Example
example/

# Building
build/

# Node version
.node-version

# Input: 'git.gitignore'
# Node Modules
node_modules/

# Test Output
tests/output/
